/**
 * @name Gruvbox
 * @author Fluted#0001
 * @version 1.0
 * @description Inspired by the Gruvbox palette
 * @updateUrl https://raw.githack.com/fluteds/css/master/Discord/Themes/gruvbox.theme.css
 * @source https://github.com/fluteds/css/blob/master/Discord/Themes/gruvbox.theme.css
**/

/* define root colors */
:root {
    --background-primary: #282828;
    --background-secondary: #3c3836;
    --background-secondary-alt: #3c3836;
    --background-tertiary: #504945;
    --background-accent: #665c54;
    --channeltextarea-background: #3c3836;
    --text-normal: #fbf1c7;
    --text-muted: #a89984;
    --channels-default: #a89984;
    --interactive-normal: #d5c4a1;
    --interactive-hover: #fbf1c7;
    --interactive-active: #ebdbb2;
    --interactive-muted: #665c54;
    --header-primary: #fbf1c7;
    --header-secondary: #ebdbb2;
    --background-floating: #3c3836;
    --scrollbar-auto-thumb: #1d2021;
    --scrollbar-auto-track: #3c3836;
    --text-link: #458588;
    --selection: #92837480;
}

/* main backgrounds */
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,
.theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,
.theme-dark .da-messageGroupWrapper,
.theme-dark .bodyInner-245q0L,
.theme-dark .bottomDivider-ZmTm-j,
.theme-dark .headerNormal-T_seeN,
.theme-dark .root-g14mjS,
.tabBody-2dgbAs,
.theme-dark .container-2cd8Mz
.theme-dark .uploadModal-2ie9O_,
.theme-dark .modal-2RrUKJ,
.uploadModal-2ie9O_,
.theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse,
.theme-dark .selected-3H3-RC,
.theme-dark .option-2KkUJO.selected-rZcOL- {
    background-color: var(--background-primary) !important;
}

.da-popouts .da-container,
.da-friendsTableHeader,
.da-friendsTable,
.da-autocomplete,
.da-themedPopout,
.da-footer,
.da-userPopout>*,
.da-autocompleteHeaderBackground,
.theme-dark .bar-1Bhnl9,
.theme-dark .payment-2bOh4k,
.theme-dark .paymentPane-ut5qKZ,
.theme-dark .paginator-1eqD2g,
.theme-dark .codeRedemptionRedirect-3SBiCp,
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .footer-VCsJQY,
.theme-dark .footer-31IekZ,
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .inset-SbsSFp,
.theme-dark .quickMessage-1yeL4E,
.wrapper-2vIMkT,
.theme-dark .autocomplete-3NRXG8,
.searchBar-zdmu7v,
.theme-dark .body-3iLsc4,
.theme-dark .footer-31IekZ,
.theme-dark .footer-1fjuF6,
.cardPrimary-3qRT__,
.theme-dark .card-2ART2V:before,
.theme-dark .colorPickerCustom-1swUKF {
    background-color: var(--background-secondary);
}

/* scrollbars */
.da-messagesWrapper .da-scroller::-webkit-scrollbar,
.da-messagesWrapper .da-scroller::-webkit-scrollbar-track-piece {
    background-color: var(--background-tertiary) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}

.da-scrollerThemed .da-scroller::-webkit-scrollbar-thumb,
.da-scrollerWrap .da-scroller::-webkit-scrollbar-thumb {
    background-color: var(--background-secondary) !important;
    border-color: var(--background-tertiary) !important;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: var(--background-primary) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}

.theme-dark .selectorSelected-1_M1WV,
.newMessagesBar-mujexs,
.theme-dark .searchAnswer-23w-CH,
.theme-dark .searchFilter-2UfsDk,
.theme-dark .progress-1S-TDF,
.themeDefault-24hCdX,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: var(--background-accent);
}

.theme-dark .container-2McqkF {
    background-color: var(--background-tertiary);
}

.theme-dark .option-2KkUJO.selected-rZcOL- {
    background-color: var(--background-floating);
}

.theme-dark .pageIndicator-cOEPV8,
.theme-dark .pageButtonNext-2_bbdk,
.theme-dark .pageButtonPrev-3q9rh8 {
    border-color: var(--background-accent);
}

.scroller-2FKFPG::-webkit-scrollbar,
.barButtonBase-3UKlW2,
.theme-dark .scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background: transparent;
}

/* remove gradients */
.theme-dark .da-option:after, .theme-dark .option-2KkUJO:after {
    background-image: none !important;
}

/* search text */
.theme-dark .searchOption-351dTI .answer-2fBfuP,
.theme-dark .option-2KkUJO .filter-5YbOzJ {
    color: var(--text-muted)
}

.theme-dark .searchOption-351dTI .filter-5YbOzJ {
    color: var(--text-normal)
}

/* side panel bottom section border */
.panels-3wFtMD {
    border-top: 2px solid var(--background-modifier-accent);
}

.container-1zzFcN {
    border-width: 2px;
}

/* selected text */
::selection {
    background: var(--selection);
}

/* hide that stupid nitro gift button */
.button-38aScr[aria-label="Send a gift"] {
    display: none;
}

/* hide blocked messages */
[class="groupStart-3Mlgv1"] {
	display: none;
}

/* enhanceddiscord server count text */
.theme-dark .keybind-13vtq8 {
    color: var(--channels-default)
}

/* unloaded emojis */
.theme-dark .imageLoading-2uloYN {
    background-image: none;
    background: var(--background-primary);
    border-radius: 50%;
}

.sprite-2lxwfc {
	filter: none !important;
}

/* Gruvbox style (dark) (c) Pavel Pertsev (original style at https://github.com/morhetz/gruvbox) */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #282828;
}

.hljs,
.hljs-subst {
  color: #ebdbb2;
}

/* Gruvbox Red */
.hljs-deletion,
.hljs-formula,
.hljs-keyword,
.hljs-link,
.hljs-selector-tag {
  color: #fb4934;
}

/* Gruvbox Blue */
.hljs-built_in,
.hljs-emphasis,
.hljs-name,
.hljs-quote,
.hljs-strong,
.hljs-title,
.hljs-variable {
  color: #83a598;
}

/* Gruvbox Yellow */
.hljs-attr,
.hljs-params,
.hljs-template-tag,
.hljs-type {
  color: #fabd2f;
}

/* Gruvbox Purple */
.hljs-builtin-name,
.hljs-doctag,
.hljs-literal,
.hljs-number {
  color: #8f3f71;
}

/* Gruvbox Orange */
.hljs-code,
.hljs-meta,
.hljs-regexp,
.hljs-selector-id,
.hljs-template-variable {
  color: #fe8019;
}

/* Gruvbox Green */
.hljs-addition,
.hljs-meta-string,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-string,
.hljs-symbol {
  color: #b8bb26;
}

/* Gruvbox Aqua */
.hljs-attribute,
.hljs-bullet,
.hljs-class,
.hljs-function,
.hljs-function .hljs-keyword,
.hljs-meta-keyword,
.hljs-selector-pseudo,
.hljs-tag {
  color: #8ec07c;
}

/* Gruvbox Gray */
.hljs-comment {
  color: #928374;
}

/* Gruvbox Purple */
.hljs-link_label,
.hljs-literal,
.hljs-number {
  color: #d3869b;
}

.hljs-comment,
.hljs-emphasis {
  font-style: italic;
}

.hljs-section,
.hljs-strong,
.hljs-tag {
  font-weight: bold;
}