/* rainbow mentions */

.theme-dark .mentioned-Tre-dv .mention,
.theme-light .mentioned-Tre-dv .mention:hover,
.theme-dark .wrapper-1ZcZW-:hover,
.theme-dark .wrapper-1ZcZW- {
  background: transparent !important;
}

.theme-dark .mentioned-Tre-dv .mention,
.theme-light .mentioned-Tre-dv .mention,
.theme-dark .wrapper-1ZcZW-,
.theme-dark .wrapper-1ZcZW-:hover,
.theme-dark .mentioned-Tre-dv,
.theme-dark .mentioned-Tre-dv {
  color: #ea1c5b;
  animation: rainbowmention 3s infinite linear;
}

@keyframes rainbowmention {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}