/* reorder items in input box to the left */

.textAreaSlate-9-y-k2 {
    order: 2;
    margin-left: 20px;
}

.webkit-QgSAqd .buttons-uaqb-5 {
    margin-left: -10px;
    order: 1;
}

.drawerSizingWrapper-1txdWG {
    right: unset;
    height: 600px;
    bottom: 0;
}
