/* reorder items in text box to the left */

.textAreaSlate-1ZzRVj {
    order: 2;
    margin-left: 20px;
}

.webkit-HjD9Er .buttons-3JBrkn {
    margin-left: -10px;
    order: 1;
}

.drawerSizingWrapper-17Mss4 {
    right: unset;
    height: 600px;
    bottom: 0;
}
